<ion-content class="background-diap-alt">
  <ion-row>
    <ion-col *ngIf="productPrice">
      <!-- <div class="lead">Unlock All Levels</div> -->
      <div class="default-text">
        <p>
          Upgrade to the full version in order to unlock a complete course where
          you will master your Arabic reading and vocabulary through Flashcards
          and fun games!
        </p>
        <button class="main-btn font-sm" (click)="purchase()">
          Unlock All Levels {{productPrice}}
        </button>
        <p>
          <br />If you have previously purchased the app, select first ‘Unlock
          all levels’, approve the purchase, then you will receive a message
          that you have previously purchased the app, after which you select:
          ‘Restore Previous Purchase’. You will NOT be charged another time!
        </p>
        <button class="main-btn font-sm" (click)="restore()">
          Restore previous purchase
        </button>
      </div>
    </ion-col>
    <ion-col *ngIf="!productPrice">
      <div class="loader">
        <ion-spinner name="dots"></ion-spinner>
        <p class="ion-text-center">Loading. Please wait...</p>
      </div>
    </ion-col>
  </ion-row>
</ion-content>