
img{
    float:left;
}
.orderimage{
    width: 100%;
    height: 100%;
}
.orderbutton{
    position: relative;
    width: 100%;
    margin-right: 4%;
}
ul {
    padding-left: 6vw;
    list-style: disc;
    margin-top: 6vw;
    margin-bottom: 6vw;
}
ol {
    padding-left: 6vw;
    list-style: decimal;
    margin-top: 6vw;
    margin-bottom: 6vw;
}