<ion-content class="page background-diap-alt">
    <div class="matchingletter ipadscaled">
        <ion-row>
            <ion-col size="10" offset="1">
                <img class="orderimage" [src]="image" (load)="finishLoading()">
            </ion-col>
        </ion-row>
        <ion-row style="height:20vw" *ngIf="!loading">
            <ion-col size="10" offset="1">
                <div class="arabic-text scheherazade">
                    <span *ngIf="correct == true">{{fullWord}}</span>
                    <span *ngIf="correct != true" class="split-chars">
                        <!-- {{letters | json}} -->
                        <span *ngFor="let letter of letters; let i = index;">
                            
                            <span *ngIf="letter === '_' " style="color:#CCCC99" class="ion-ios-circle-outline"></span>
                            
                            <span *ngIf="letter !== '_' && letter !== 'ـ'">{{letter}}</span>
                            <span *ngIf="letter !== '_' && letter === 'ـ'"> {{letter}} </span>
                            <!-- Empty Circle -->
                        </span>
                    </span>
                </div>
            </ion-col>
        </ion-row>
        <br>
        <ion-row class="letters" *ngIf="!loading">
            <ion-col *ngFor="let letter of lettersToChooseFrom; let i = index">
                <button class="button cirkel-letter"
                    [ngClass]="(i === selectedIndex) ? (letter.isCorrectLetter ? 'goed' : 'fout') : ''"
                    (click)="select(letter,i)">
                    <div class="arabic-text scheherazade">{{letter.letter}}</div>
                </button>
            </ion-col>
        </ion-row>
    </div>
</ion-content>