<ion-content class="colofon background-diap-alt">
  <ion-row>
    <ion-col>
      <img class="colofonimage" [src]="data.colofonimage" />
      <div class="lead">{{data.colofonlead}}</div>
      <div class="text-content default-text">
        <p>
          Marhaba! I am very happy that you have decided to learn the beautiful
          Arabic language! I was born in Beirut, Lebanon where I have spent all
          my youth and completed my pre-university studies in Arabic literature.
          Having had to leave Lebanon because of the war, I decided to spend the
          rest of my life relaying my passion for the Arabic language and
          culture to non-native speakers. I have completed my university studies
          at McGill University in Montreal, Canada. In 1999, I moved to
          Amsterdam where I founded my Arabic language institute "Master Arabic"
          achieving my dream of making a career of my passion. Since then, I
          have had the privilege of teaching Arabic as a foreign language to no
          less than 500 students and the mission goes on...
        </p>

        <p>
          Discover "Master Arabic" at
          <span class="inlineURL" (click)="openUrl()"
            >www.imasterarabic.com</span
          >. Read the reviews under About us/Reviews. Drop me a note about your
          feedback or progress with the app. Would love to hear from you!
        </p>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
