.title {
    text-align: center;
    font-family: "Podkova";
    white-space: normal;
    font-weight: 500;
    font-size: 5vw;
    // position: absolute;
    // top: calc(50% - 2.5vw);
    width: 100%;
    // left: 0;

    // &.ios {
    //     top: 0;
    // }
}

.navigation-icon, .info-icon {
    color: white !important;
    font-size: 7vw !important;
}
.info-icon {
    position: absolute;
    left: 9vw;
}

.left-icons {
    position: absolute;
    left: 0;
}

#navbartitle{
    left: 0px !important;
    right: 0px !important;
}
#shuffleIcon{
    padding-left: 2.5vw !important;
//    margin-right:0.2vw;
}
#shuffleIcon:before{
    font-size: 7vw;
}
#starIcon:before{
    font-size: 7vw;
}
#starIcon{
    padding-left:2.5vw !important;
    margin-right:0vw;
}
#starIcon,
#shuffleIcon,
#languageIcon {
    color: #fff;
    font-size: 5.5vw;
}
#starIcon.green,
#shuffleIcon.green,
#languageIcon.green
{
    color:#339933;
}
#languageIcon{
    padding-left: 1px !important;
    margin-right:0vw;
}
#languageIcon:before{
    font-size: 7vw;
}

#currentScore {
    font-size: 5vw;
    font-weight: bold;
    color:#8DC63F;
    margin-right:2vw;
    line-height:10vw;
    height:10vw;
}
#timerProgress {
    height: 8vw;
    width: 8vw;
    margin-right:0.3vw;
}

#infoIcon:before{
    font-size: 8vw;
//    margin-left:3vw;
}
#infoIcon.button {
    margin-left: 2vw;
}
#menuIcon:before{
    font-size: 7vw;
    margin-left:1vw;
}

#backIcon:before{
    font-size: 7vw;
    margin-left:1vw;
}
.bar {
    height:12vw !important;
}
.bar .title{
    font-size:6vw;
    line-height:12vw;
    height:12vw;
    margin-top: 0 !important;
}
.bar.bar-royal .title {
    font-family:"Podkova";
    white-space:normal;
}

.bar.bar-royal{
    background-color:#482d7a;
    border-color:#482d7a;
//    make position fixed to prevent interactin with swipe up on ios
    position: fixed;
}
.bar .button{
    padding:0;
    margin-right: -9px;
    min-width: 2vw;
    margin-top: 0 !important;
}

.button .button-icon .icon .ion-chevron-left{
    font-size: 2vw;
}

.default-text.number{
    margin:0vw;
    color: #8DC63F;
    font-size: 6vw;
    line-height: 7vw;
}

.bar .button.button-icon.aan{
    color:#8dc63f;
}

.action-icons {
    position: absolute;
    right: 2px;
}